<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd">


    <!--    配置扫描包   -->
    <context:component-scan base-package="com.zh.controller"/>
    <!--
        配置一个试图解析器
        常用内部资源视图解析器
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--
        Apache文件上传解析器
        id必须为multipartResolver
    -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--        定义最大上传文件大小      -->
        <!--        2GB     -->
        <property name="maxUploadSize" value="2147483648"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <!--        20MB     -->
        <property name="maxUploadSizePerFile" value="20971520"/>
    </bean>


    <mvc:interceptors>
        <mvc:interceptor>
        <!--
            /*只能拦截一层
            /**/*可以拦截任意层的方法
        -->
            <mvc:mapping path="/**/*"/>
            <bean class="com.zh.interceptor.MethodTimeInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <!--
                只想拦截/user/**/*
                排除登录的URI
            -->
            <mvc:mapping path="/user/**/*"/>
            <mvc:exclude-mapping path="/user/login"/>
            <bean class="com.zh.interceptor.SessionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <!--
        方法1.默认servlet处理静态资源放行
          同时需要配置annotation-driven，不然所有的请求都让它处理了
    -->
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>


</beans>